.App {
  text-align: center;
  background-color: orange;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game {
  max-width: 500px;
}
