.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.word-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
